@import "~bootstrap5/scss/bootstrap";

html, body {
    font-family: 'Ubuntu';
    font-size: 1.1em;
}
.card-chat {
    min-height: 50vh;
    max-height: 100svh;
}
.card-body-chat {
    min-height: 50vh !important;
    overflow-y: auto;
}
.card-footer .row-sticky {
    font-size: 0.9rem;
}
.textarea-chat {
    height: 30px;
    max-height: 90px;
    resize: none;
    padding-right: 35px !important;
}
.span-chat-submit {
    position: absolute;
    bottom: 23px;
    right: 23px;
    padding: 1px 3px;
}

[data-bs-theme="dark"] .alert.text-dark,
[data-bs-theme="dark"] .alert.text-secondary,
[data-bs-theme="dark"] .alert.text-black {
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important
}

@media (max-width: 1024px) {
    .container {
        max-width: 100% !important;
        width: 100% !important;
        padding: 0px;
    }
    .container > .card, .container > .card > .card-header, .container > .card > .card-footer {
        border-radius: 0px !important;
    }
}
