
//@import "~jquery-ui/themes/base/all.css";
//@import "~jquery-ui-bootstrap/jquery.ui.theme.css";

//@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "./fonts.css";
html, body{
  font-family: 'Ubuntu', verdana;
}
body {
  max-width: 99.99%;
}
body > .container-fluid{
  padding: 0px;
}
.w-20{
  width: 20% !important;
}
#filtrList {
  overflow-y: auto;
}
.h4.border{
  cursor: pointer;
}
.h4.border:hover {
  border-width: 2px !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.filtr-item .h4.border:hover {
  padding-right: 2px !important;
  padding-bottom: 2px !important;
}
body > .card, body > .container-fluid > .card, body > .container-fluid > .card > .card-header.bg-indigo, body > .card > .card-header.bg-indigo{
  border: none;
  border-radius: 0px;
}

.icon-spacer::before,
.icon-blank::before {
  display: inline-block;
  width: 1em;
  content: ' ';
}
.btn-xl {
  padding: 0.75rem 1.25rem;
  font-size: 1.5rem;
  line-height: 1.75;
  border-radius: 0.3rem;
}
.col-20 {
  flex: 0 0 20%;
  max-width: 20%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}