html,body{
    font-family: Ubuntu, verdana;
    font-size: 1.1em;
}

@media (max-width: 1024px) {
    .container {
        max-width: 100%;
        width: 100% !important;
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .container > .card, .container > .card .card-header, .container > .card .card-footer {
        border-radius: 0px;
    }
}