/*html, body {*/
/*    font-family: 'Ubuntu';*/
/*    font-size: 1.1em;*/
/*}*/

/*textarea {*/
/*    !*font-size: 1.3rem !important;*!*/
/*}*/
/*.rounded-pill {*/
/*    border-radius: 30px !important;*/
/*}*/
/*@media (max-width: 1024px) {*/
/*    .container {*/
/*        max-width: 100% !important;*/
/*        width: 100% !important;*/
/*        padding: 0px;*/
/*    }*/
/*    .container > .card, .container > .card-header, .container > .card-footer {*/
/*        border-right: 0px !important;*/
/*    }*/
/*}*/