{% extends 'bare_applications.html.twig' %}

{% block title %}{{ application }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('themebs5', null, 'theme') }}
    {{ encore_entry_link_tags('cms_' ~ application, null, application) }}
{% endblock %}

{% block jshead %}
    {{ encore_entry_script_tags('cms_' ~ application, null, application) }}
{% endblock %}

{% block body %}

{% endblock %}
